{% extends 'base.html' %}
{% block content %}
<h1 style='text-align:center;'>Add a New Blog Post</h1>

<form action='/blog' method='POST'>
    <label>
        New Blog Title: <br>
        <input type='text' name='title' value='{{ blog_title }}'>
        <div class='error'>{{ title_error }}</div>

    </label>
    <br>
    <br>
    <label>New Blog: <br>
        <textarea name='body'>{{ blog_body }}</textarea>
        <div class='error'>{{ body_error }}</div>
    </label>
    <br>
    <input type="submit" value="Post!">
</form>

{% endblock %}